### idea ###
.idea

### Django ###
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media


# Distribution / packaging
.Python
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Environments
.env
env/
